<article class="contact active" data-page="contact">
      <header>
        <h2 class="h2 article-title">Contact</h2>
      </header>

      <section class="mapbox" data-mapbox>
        <figure>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31095.94960700915!2d80.11592624852369!3d13.036072736231953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5261ae7112d6bf%3A0xb7919d7bcb628521!2sIyyappanthangal%2C%20Chennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1762864923264!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>
      </section>

      <section class="contact-form">
        <h3 class="h3 form-title">Contact Form</h3>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="input-wrapper">
            <input 
              type="text" 
              formControlName="fullname"
              class="form-input" 
              placeholder="Full name" 
              required>

            <input 
              type="email" 
              formControlName="email"
              class="form-input" 
              placeholder="Email address" 
              required>
          </div>

          <textarea 
            formControlName="message"
            class="form-input" 
            placeholder="Your Message" 
            required></textarea>

          <button 
            class="form-btn" 
            type="submit" 
            [disabled]="!contactForm.valid">
            <!-- <ion-icon name="paper-plane"></ion-icon> -->
            <span>Send Message</span>
          </button>
        </form>
      </section>
    </article>