<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      I'm an Angular Developer, specializing in building dynamic, high-performance web
      applications. With 3 years of hands-on experience in front-end development,
      I focus on writing clean, efficient code and crafting seamless user experiences.
    </p>
    <p>
      My goal is to develop web solutions that are not only fast and functional but also intuitive and visually
      appealing. I take pride in transforming complex business requirements into elegant, scalable applications. Every
      project I work on reflects my commitment to quality, creativity, and usability.

      I’ve contributed to the development of web platforms for various well-known brands, ensuring that each product
      delivers both technical excellence and a compelling user experience.
    </p>
  </section>

  <app-services></app-services>
  <app-testimonials></app-testimonials>
  <app-clients></app-clients>
</article>